.wrapper {
    width: 100%;
    min-height: 80px;
    max-height: min((100vh - 76px) - 60px, 734px);
    border-radius: 8px;
    margin-top: -6px;
    padding-top: 12px;
    color: var(--text-black);
    box-shadow: 0px 1px 3px 1px #cccccc;
}
